@use "./../helpers/mixin" as *;
@use "./../helpers/variables" as *;

// Start Header

.header {
  // Start Head
  &__head {
    background-color: $gray-light;
    border-bottom: $border-1;
    @include breakpoint(mobile) {
      display: none;
    }
  }

  // Contact
  &__contact {
    display: flex;

    @include breakpoint(mobile) {
      justify-content: space-around;
    }

    @include breakpoint(small) {
      justify-content: space-around;
    }

    @include breakpoint(medium) {
      justify-content: flex-end;
    }

    // Div
    & > div {
      padding: 1rem 0;
      margin: 0 0.5%;
      font-size: 1.4rem;
      display: flex;
      align-items: center;

      @include breakpoint(mobile) {
        width: 50%;
      }

      @include breakpoint(small) {
        width: 50%;
      }

      @include breakpoint(medium) {
        width: auto;
      }

      &:first-child {
        border-right: $border-1;
        @include breakpoint(mobile) {
          justify-content: flex-start;
        }

        @include breakpoint(small) {
          justify-content: flex-start;
        }

        @include breakpoint(medium) {
          justify-content: unset;
        }
      }

      &:last-child {
        @include breakpoint(mobile) {
          justify-content: flex-end;
        }

        @include breakpoint(small) {
          justify-content: flex-end;
        }

        @include breakpoint(medium) {
          justify-content: unset;
        }
      }

      & i {
        color: $gray-dark;
      }

      & span {
        margin: 0 1rem;
        color: #222;
        font-weight: 500;
      }

      & i.facebook {
        color: #1877f2;
        font-size: 2rem;
      }
    }
  }

  // Start Body

  &__body {
    padding: 2rem 0;
    background-color: white;

    & .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__logo {
    @include breakpoint(mobile) {
      width: 80%;
    }

    @include breakpoint(small) {
      width: 50%;
    }

    @include breakpoint(medium) {
      width: auto;
    }
  }

  &__link {
    display: inline-block;
    &--img {
      @include breakpoint(mobile) {
        max-width: 70%;
      }

      @include breakpoint(small) {
        max-width: 70%;
      }

      @include breakpoint(medium) {
        max-width: 100%;
      }
    }
  }

  &__toggle {
    display: flex;
    justify-content: flex-end;
    @include breakpoint(mobile) {
      width: 20%;
    }

    @include breakpoint(small) {
      width: 50%;
    }

    @include breakpoint(medium) {
      display: none;
      width: auto;
    }
    &--btn {
      margin-right: 2rem;
      border: none;
      cursor: pointer;

      & i {
        font-size: 3rem;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__nav {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    @include breakpoint(mobile) {
      width: 100%;
      height: 0;
    }

    @include breakpoint(small) {
      width: 100%;
      height: 0;
    }

    @include breakpoint(medium) {
      width: auto;
      height: auto;
    }

    &.show {
      height: 207px;
    }
  }

  &__list {
    @include breakpoint(mobile) {
      padding: 1rem;
    }

    @include breakpoint(small) {
      padding: 1rem;
    }
    @include breakpoint(medium) {
      display: flex;
    }
  }

  &__item {
    @include breakpoint(mobile) {
      padding: 1rem 0;
      font-size: 1.5rem;
      font-weight: bold;
    }

    @include breakpoint(small) {
      padding: 1rem 0;
      font-size: 1.5rem;
      font-weight: bold;
    }

    @include breakpoint(medium) {
      padding: 0 2rem;
      display: flex;
      align-items: center;
    }

    &:not(:last-child) {
      @include breakpoint(mobile) {
        border-bottom: $border-1;
      }

      @include breakpoint(small) {
        border-bottom: $border-1;
      }

      @include breakpoint(medium) {
        border: none;
      }
    }

    &--link {
      display: inline-block;
    }
  }
}

// End Header
