@use "./../helpers/mixin" as *;
@use "./../helpers/variables" as *;

.landing {
  height: calc(100vh - 115px);
  background-image: url(../imgs/landing.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  & .container {
    text-align: center;

    & h1 {
      @include breakpoint(medium) {
        font-size: 5rem;
      }
      font-size: 3.5rem;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
    }

    & p {
      @include breakpoint(medium) {
        font-size: 4rem;
      }
      font-size: 2rem;
      color: white;
      margin-bottom: 3rem;
    }
  }
}
