// COLORS
$gray-xlight: #f3f3f3;
$gray-light: #f0f2f4;
$gray-dark: #949596;
$dark-color: #333;
$red-color: #de2b24;
$yellow-color: #d2b457;
$blue-color: #1287bf;
$dark-xcolor: #2a2a2a;

// Borders
$border-1: 1px solid #ccc;

// Spacing
$padding: 7rem;
